.d { /* directory */
	background: url("folder.png") no-repeat scroll left center transparent;
	padding: 1px 0 1px 25px !important;
	text-align: left !important;
}

.f { /* file */
	background: url("file.png") no-repeat scroll left center transparent;
	padding: 1px 0 1px 25px !important;
	text-align: left !important;
}

.p td { /* permission row */
	padding: 1px 1px 1px 1px;
	text-align: right;
}

.h td { /* header */
	text-align: center;
}

.s td { /* selected item */
	background-color: lightblue;
	color: black;
	border: 0px;
}

.i td { /* selected/indexed item. Only one.  */
/*	border: dotted 1px black !important;
	border-collapse: collapse !important; */
	color: blue;	
}

.filelist {
	width: 100%
}

.filelist tbody td{
	border: 0px;
}

.text-center {
	text-align: center;
}

.transferTbl tr {
	background-color: #f1f1f1 !important;
}

table, th, td {
	border: 1px solid #ffffff;
	border-collapse: collapse;
	padding: 5px;
	font-family: monospace;
	font-size: medium;
}

table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}

.top {
	vertical-align: top;
}

.panel {
	overflow: scroll;
	overflow-x: hidden;
/*	max-height: 300px;
	height: 300px; */
}

.sh { /* selected header */
  background-color: lightblue;
  color: black;
  border: 0px;
}

.panel-selected {
	border: dotted 1px lightblue;
}
.panel-selected thead {
	color: blue;
}

.panel-file-over {
	border: dotted 2px green;
}

.loader-container {
	width: 30%; 
	margin: 0 auto;
}

.space {
  margin-right: 2px;

}

.loader {
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.counter-container {
  position: relative;
}

.counter-counter {
  position: absolute;
  top: -3px;
  background-color: #d21201;
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font-size: x-small;
}
