.sh { /* selected header */
  background-color: lightblue;
  color: black;
  border: 0px;
}

.panel-selected {
	border: dotted 1px lightblue;
}
.panel-selected thead {
	color: blue;
}

.panel-file-over {
	border: dotted 2px green;
}

.counter-container {
  position: relative;
}

.counter-counter {
  position: absolute;
  top: -3px;
  background-color: #d21201;
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font-size: x-small;
}
