S3_HOST=...
S3_BUCKET=bucket
ACCESS_KEY=
SECRET_KEY=

TARGET_S3_HOST=...
TARGET_S3_BUCKET=bucket
TARGET_ACCESS_KEY=
TARGET_SECRET_KEY=

GOOGLEDRIVE_HOST=googledrive.com
GOOGLEDRIVE_ACCESS_KEY=
GOOGLEDRIVE_SOURCE_TEST_DIR=test
GOOGLEDRIVE_TAERGET_TEST_DIR=xx

DROPBOX_HOST=dropbox.com
DROPBOX_HOST_ACCESS_TOKEN=
DROPBOX_SOURCE_TEST_DIR=xx
DROPBOX_TARGET_TEST_DIR_TEST_DIR=test
