SFTP_HOST=...
SFTP_DIR=/tmp
SFTP_USERNAME=ya29.a0AfH6SMDxrDxUJJSadOX9XFy9lWjCxeOghYeis8qeI6IRKNdmwZN2TvNKrbFP0dyq5wbz_qK8v1ofd4wzMKKkmHUv7LPyvMjBfhnAIcQ0xvCDGf04j9ILEoukvs7hG2i-CLxWvQWyRf6EVb44MEe6hXI2yhRID-ECBMc
SFTP_PASSWORD=

S3_HOST=...
S3_BUCKET=bucket
ACCESS_KEY=
SECRET_KEY=

GOOGLEDRIVE_HOST=googledrive.com
GOOGLEDRIVE_DIR=/tmp
GOOGLEDRIVE_ACCESS_KEY=

DROPBOX_HOST_HOST=dropbox.com
DROPBOX_DIR=/tmp
DROPBOX_ACCESS_TOKEN=